div {
  height: 100vh;
}
div.paralax {
  background-image: url("img/images-header-ilham.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 300px;
}
